body {
  background: url('milchstrasse.jpg') no-repeat center center fixed;
  color: white;
}

h1, h3 {
  padding: 20px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

footer {
  margin-top: 100px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 13px;
}